.tobenottobe{
   font-family:insolence; 
   font-size:15px; 
   color:rgb(221, 40, 40);
   background-color:rgb(28, 23, 23);
   text-align: center;
} 

.boxtext{
    width: 50px;
    height: fit-content;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 5px;
    animation;
}

.animation{
    width: 100px;
  height: 100px;
  background-color: #0CB1C4;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}